@{
    ViewData["Title"] = "对话 （Chat by 知识库）";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)'], ['[', ']'], ['(', ')']],
            displayMath: [['$$', '$$'], ['\\[', '\\]'], ['[', ']']]
        },
        processHtmlClass: "chat-body-content",
        options: {
            skipHtmlTags: ["script", "noscript", "style", "textarea", "pre", "code", "a", "b"]
        }
    };
</script>
<link href="~/system/css/chat.css?v1" rel="stylesheet" />
<script src="~/system/js/markdown-it.min.js"></script>
<script src="~/system/js/tex-chtml.js"></script>


<div class="header header-chat">
    <div class="header-left">
        <a id="menuMain" href="" class="burger-menu">
            <i data-feather="menu">
            </i>
        </a>
        <a id="menuBack" href="" class="burger-menu d-none">
            <i data-feather="arrow-left">
            </i>
        </a>
        <div class="header-search">
            <i data-feather="search">
            </i>
            <input type="search" class="form-control" placeholder="输入对话记录关键词，回车搜索" id="searchKey">
        </div>
        <button type="button" class="btn btn-danger" style="margin-left:10px;" onclick="deleteChatAll()"><i data-feather="trash-2"></i> 清空历史</button>
        <div class="dropdown" style="text-align:center;width:auto;float:left;" id="onfilelist">
            <a href="#" class="btn btn-info" id="fileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>选用知识库</span>
                <i data-feather="chevron-down" style="width:20px;"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-onfile" aria-labelledby="chatDropdown" style="max-height: 505px;width:250px;overflow-y:scroll;text-align:center;">
                <input type="text" class="form-control" placeholder="输入知识库名称,回车查询" id="seachKnowledge" />
                <ul class="list-group" id="onknowledgeitem">
                    @* <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                    <input type="checkbox">
                    Item 1
                    </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                    <input type="checkbox">
                    Item 2
                    </div>
                    </li> *@
                    <!-- 可添加更多列表项 -->
                </ul>
                <button class="btn btn-success btn-success-sm loadmorebtn" onclick="getKonwLedgeTypeByMilvus('loadmore')">加载更多</button>
            </div>
        </div>
    </div>
    <div class="header-right">
    </div>
</div>
<div class="content-body content-body-chat">
    <div class="chat-panel">
        <div class="chat-sidebar">
            <div class="chat-sidebar-header">
                <h6 class="tx-14 tx-color-01 mg-b-0">
                    一个有个性的AI👻
                </h6>
                <div>
                    @* <a href="" data-toggle="tooltip" title="New Conversation">
                    <i data-feather="user-plus">
                    </i>
                    </a> *@
                    <button type="button" class="btn btn-info" onclick="newChat()"><i data-feather="plus"></i> 新建会话</button>
                </div>
            </div>
            <div class="chat-sidebar-body">
                <ul class="chat-list">
                </ul>
            </div>
            <div class="chat-sidebar-footer">
                <button type="button" class="btn btn-primary" style="width:100%" id="loadMoreBtn" onclick="loadMoreHistory()"><i data-feather="loader" style="width:20px;"></i> 加载更多</button>
                @* <div class="avatar avatar-sm avatar-online">
                <img src="static/picture/fff.png" class="rounded-circle" alt="">
                </div>
                <h6 class="chat-loggeduser">
                Louise Kate
                <span>
                (Me)
                </span>
                </h6>
                <div>
                <a href="" data-toggle="tooltip" title="Enable Mic">
                <i data-feather="mic">
                </i>
                </a>
                <a href="" data-toggle="tooltip" title="Settings">
                <i data-feather="settings">
                </i>
                </a>
                </div> *@
            </div>
        </div>
        <div class="chat-body">
            <div class="chat-body-header">
                <div class="avatar avatar-xs">
                    <span class="avatar-initial rounded-circle bg-dark" data-toggle="tooltip" onclick="hideHistoary()" style="cursor:pointer">
                        <i data-feather="chevron-left" id="hidehis" style="width:15px;cursor:pointer"></i>
                    </span>
                </div>
                <div class="dropdown" style="text-align:center;width:auto;float:left" data-toggle="tooltip">
                    <a href="#" class="tx-14 tx-color-01 mg-b-0 mg-l-10" id="chatDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="firstModel">---</span>
                        <i data-feather="chevron-down" style="width:20px;"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="chatDropdown" style="max-height: 505px;overflow-y:scroll" id="AIModel">
                        @*<a class="dropdown-item font-14" href="#" onclick="changeModel('chat','ChatGPT3.5')">ChatGPT3.5</a>
                        <a class="dropdown-item font-14" href="#" onclick="changeModel('chat16K','ChatGPT3.5-16K')">ChatGPT3.5-16K</a> *@
                    </div>
                </div>
                &nbsp;&nbsp;
                <a href="#" data-toggle="tooltip" title="新建会话" onclick="newChat()">
                    <i data-feather="plus">
                    </i>
                </a>
            </div>

            @* <li class="divider-text">
            加载中...
            </li> *@
            <div class="chat-body-content">
                @* <div class="chat-message">
                <div class="avatar">U</div>
                <div style="width:100%">
                <pre style="display:inline">Hello!Hello!Hello!Hello!Hello!Hello!Hello!</pre>
                </div>
                </div>
                <div class="chat-message">
                <div class="avatar gpt-avatar">A</div>
                <div style="width:100%">
                <pre style="display:inline">Hello, how can I help you?</pre>
                <svg width="30" height="30" style="display:inline">
                <circle cx="15" cy="15" r="7.5" fill="black" class="blinking-dot" />
                </svg>
                </div>
                </div> *@
            </div>
            @*<div style="position:absolute;bottom:10%;margin-left:10px;">
            <input type="text" class="form-control" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput">
            </div>*@
            <div class="chat-body-footer">
                <div class="chat-body-options">
                    <a href="#" data-toggle="tooltip" title="🖼️ 图片上传" onclick="showCameraMenu()" id="openCamera">
                        <i data-feather="camera">
                        </i>
                    </a>
                    @* <a href="" data-toggle="tooltip" title="📎文件上传">
                    <i data-feather="paperclip">
                    </i>
                    </a> *@
                </div>
                <div class="form-group">
                    <i data-feather="maximize-2" class="maximize-2" style="width:15px;float:right;cursor:pointer" onclick="max_textarea_Q()"></i>
                    <textarea type="text" class="form-control" placeholder="输入问题，Enter发送，Ctrl+Enter或Shift+Enter换行" id="Q" style="max-height:200px;"></textarea>
                </div>
                <button class="btn btn-icon" data-toggle="tooltip" title="发送" id="sendBtn">
                    <i data-feather="send"></i>
                </button>
            </div>
            @* <button type="button" class="btn btn-danger" style="width:120px" id="stopBtn" onclick="stopGenerate()"><i data-feather="stop-circle"></i> 停止生成</button> *@
        </div>
    </div>
</div>
<script src="~/system/js/signalr.min.js"></script>
<script src="~/system/js/knowledgechat.js?v4"></script>
<script src="~/system/js/marked.min.js"></script>
<link href="~/system/css/atom-one-dark.min.css" rel="stylesheet" />
<script src="~/system/js/highlight.min.js"></script>
