@{
    ViewData["Title"] = "图库（Gallery）";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/system/css/magnific-popup.min.css">
<script src="~/system/js/masonry.pkgd.min.js"></script>
<div class="header">
    <div class="header-left">
        <a id="menuMain" href="" class="burger-menu">
            <i data-feather="menu">
            </i>
        </a>
        <a id="menuBack" href="" class="burger-menu d-none">
            <i data-feather="arrow-left">
            </i>
        </a>
    </div>
</div>
<div class="content-main text-center">
    <div class="row" id="masonry-layout">
        <!-- 第一个卡片 -->
        @* <div class="col-lg-3 col-md-6 col-sm-12 mb-4 grid-item">
        <div class="card h-100">
        <img class="card-img-top" src="/files/pluginavatar/20240206/02f59659b3064b90bf3e4166716878c0.png">
        <div class="card-body">
        <p class="card-text">海绵宝宝</p>
        <div class="d-flex justify-left-between flex-wrap">
        <a href="#" class="btn btn-primary">下载</a>
        <a href="#" class="btn btn-secondary">删除</a>
        </div>
        </div>
        </div>
        </div> *@
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary loadMore" onclick="getAIdrawResList('loadmore')">加载更多</button>
        </div>
    </div>
</div>
<script src="~/system/js/imagesloaded.js"></script>
<script src="~/system/js/jquery.magnific-popup.min.js"></script>
<script src="~/system/js/gallery.js?v1"></script>