<!DOCTYPE html>

<html>

<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="Responsive Bootstrap 4 Dashboard and Admin Template">
    <meta name="author" content="ThemePixels">
    <meta name="description" content="免费使用AI工具如ChatGPT, GPT4, MJ绘画, SD绘画, Midjourney, DALL-E3等。提供AI文件处理, AI文件上传以及GPT免费使用。丰富的AI知识库,助您掌握人工智能技术。">
    <meta name="keywords" content="AI, ChatGPT, GPT4, MJ绘画, SD绘画, Midjourney, DALL-E3, 知识库, 免费, AI文件处理, AI文件上传, GPT免费">
    <link href="~/static/css/all.min.css" rel="stylesheet">
    <link href="~/static/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/static/css/cassie.css?v1">
    <link href="~/static/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/system/css/robot.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/static/js/bootstrap-tagsinput.min.js"></script>
    <script src="~/static/js/bootstrap.bundle.min.js"></script>
    <script src="~/static/js/feather.min.js"></script>
    <script src="~/static/js/perfect-scrollbar.min.js"></script>
    <script src="~/static/js/js.cookie.js"></script>
    <script src="~/static/js/cassie.js"></script>
    <script src="~/system/js/xlsx.full.min.js"></script>
    <script src="~/system/js/system.js"></script>
    <script src="~/system/js/balert.js"></script>
    <script src="~/system/js/markdown-it.min.js"></script>
    <script>
        $(function () {
            // 页面加载完成后恢复滚动位置
            let savedScrollPosition = localStorage.getItem('sidebarScrollPosition');
            if (savedScrollPosition) {
                $('#dpSidebarBody').scrollTop(savedScrollPosition);
            }
        })
        $(document).on('click', '.nav-link', function () {
            let currentScrollPosition = $('#dpSidebarBody').scrollTop();
            localStorage.setItem('sidebarScrollPosition', currentScrollPosition);
        });
        function clearCacheAndReload() {
            // 清除浏览器缓存
            if (window.location.search) {
                window.location.search += '&nocache=' + Math.random();
            } else {
                window.location.search += '?nocache=' + Math.random();
            }

            // 刷新页面
            window.location.reload(true);
        }

    </script>
</head>

<body>
    <!-- 相机按钮点击弹窗 -->
    <div class="modal fade" id="cameraModel" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" style="z-index:999">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <!-- 弹窗头部 -->
                <div class="modal-header">
                    <p class="modal-title" id="modalLabel">拍照&上传</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- 弹窗主体内容 -->
                <div class="modal-body" style="display: flex; justify-content: center; align-items: center;">
                    <div style="text-align:center; margin-right: 50px;" class="popup-item" data-type="camera">
                        <!-- 添加了外边距来分隔两个图标（可根据实际情况调整）-->
                        <i data-feather="camera" style="width:100%;height:60px;cursor:pointer;"></i>
                        <p>拍照</p>
                    </div>

                    <div style="text-align:center;" class="popup-item" data-type="upload">
                        <i data-feather="upload" style="width:100%;height:60px;cursor:pointer;"></i>
                        <p>上传</p>
                    </div>
                    <input type="file" id="uploadImg" accept="image/*" style="display:none" />
                </div>
                <!-- 弹窗底部 -->
                <div class="modal-footer">
                    <div class="imgViewBox">
                        <img src="" id="imgPreview" style="width:100%;max-height:500px;overflow:hidden;" />
                        <p></p>
                        <button type="button" class="btn btn-info" onclick="ClearImg()"><i data-feather="x"></i> 清除图片</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 文件选取 -->
    <div class="modal fade" id="uploadFileModel" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <!-- 弹窗头部 -->
                <div class="modal-header">
                    <p class="modal-title" id="modalLabel">上传&素材选取</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- 弹窗主体内容 -->
                <div class="modal-body" style="display: flex; justify-content: center; align-items: center;">
                    <div style="text-align:center;" class="popup-item" data-type="upload">
                        <i data-feather="upload" style="width:100%;height:60px;cursor:pointer;"></i>
                        <p>上传</p>
                    </div>
                </div>
                <div id="filelibs" style="text-align:center;">
                    <b style="color:deepskyblue">可以勾选下方素材库文件,自动生效</b>
                    <ul class="list-group" id="fileslibsitem" style="max-height:500px;overflow-y:scroll;text-align:center;">
                        <li>
                            加载中...
                        </li>
                        <!-- 可添加更多列表项 -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div class="sidebar-header">
            <div>
                <a href="#" class="sidebar-logo">
                    <span id="systemNAME">

                    </span>
                </a>
                <small class="sidebar-logo-headline">
                    AIBot Pro System
                </small>
            </div>
        </div>
        <div id="dpSidebarBody" class="sidebar-body">
            <ul class="nav nav-sidebar" id="system-menu">
                <li class="nav-item">
                    <a href="" class="nav-link with-sub" id="ai-main-menu">
                        <i data-feather="cpu"></i>
                        AI
                    </a>
                    <nav class="nav nav-sub">
                        @*<a href="app-calendar.html" class="nav-sub-link">
                        Calendar
                        </a>*@
                        <a href="/Home/Index" class="nav-sub-link active" id="aichat-nav">
                            对话（Chat）
                        </a>
                        <a href="/Home/Midjourney" class="nav-sub-link" id="midjourney-nav">
                            绘画（Midjourney）
                        </a>
                        <a href="/Home/DALL" class="nav-sub-link" id="dall-nav">
                            绘画（DALL-E3）
                        </a>
                        <a href="/Home/ChatSetting" class="nav-sub-link" id="chatsetting-nav">
                            设置（Setting）
                        </a>
                        <a href="/Home/UISetting" class="nav-sub-link" id="uisetting-nav">
                            UI设置（UI Setting）
                        </a>
                        @*<a href="/Home/FromSton" class="nav-sub-link">
                        绘画（FromSton&SD）
                        </a>*@
                    </nav>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link with-sub" id="cygf-main-menu">
                        <i data-feather="box">
                        </i>
                        创意工坊 (WorkShop)
                    </a>
                    <nav class="nav nav-sub">
                        <a href="/WorkShop/WorkShopChat" class="nav-sub-link" id="chat-cygf-nav">
                            对话（Chat by 创意工坊）
                        </a>
                        <a href="/WorkShop/WorkShopMarket" class="nav-sub-link" id="workshopmarket-cygf-nav">
                            插件市场（Market）
                        </a>
                        <a href="/WorkShop/MyWork" class="nav-sub-link" id="mywork-cygf-nav">
                            我的工作台（My Workbench）
                        </a>
                        <a href="/WorkShop/MyPlugins" class="nav-sub-link" id="myplugins-cygf-nav">
                            我的插件（My Plugins）
                        </a>
                        <a href="/WorkShop/OpenAPI" class="nav-sub-link" id="openapi-cygf-nav">
                            开放平台（Open API）
                        </a>
                        @* <a href="/WorkShop/WorkFlow" class="nav-sub-link" id="workflow-cygf-nav" target="_blank">
                        工作流（WorkFlow）
                        </a> *@
                    </nav>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link with-sub" id="role-main-menu">
                        <i data-feather="users">
                        </i>
                        角色扮演 (Role Play)
                    </a>
                    <nav class="nav nav-sub">
                        <a href="/Role/RoleChat" class="nav-sub-link" id="chat-role-nav">
                            对话（Chat by 角色扮演）
                        </a>
                        <a href="/Role/RoleList" class="nav-sub-link" id="list-role-nav">
                            角色列表（Role List）
                        </a>
                        <a href="/Role/CustomRole" class="nav-sub-link" id="custom-role-nav">
                            自定义角色（Custom Role）
                        </a>
                    </nav>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link with-sub" id="files-main-menu">
                        <i data-feather="file-text">
                        </i>
                        文件助手 (File Helper)
                    </a>
                    <nav class="nav nav-sub">
                        <a href="/FilesAI/FilesChat" class="nav-sub-link" id="chat-files-nav">
                            对话（Chat by 文件助手）
                        </a>
                        <a href="/FilesAI/FilesLib" class="nav-sub-link" id="lib-files-nav">
                            素材库（Material Library）
                        </a>
                    </nav>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link with-sub" id="knowledge-main-menu">
                        <i data-feather="database">
                        </i>
                        知识库 (Knowledge Base)
                    </a>
                    <nav class="nav nav-sub">
                        <a href="/KnowledgeAI/KnowledgeChat" class="nav-sub-link" id="chat-knowledge-nav">
                            对话 （Chat by 知识库）
                        </a>
                        <a href="/KnowledgeAI/KnowledgeManagement" class="nav-sub-link" id="management-knowledge-nav">
                            知识库管理（Management）
                        </a>
                        <a href="/KnowledgeAI/KnowledgeBuild" class="nav-sub-link" id="build-knowledge-nav">
                            知识库构建（Build）
                        </a>
                    </nav>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link with-sub" id="assistant-main-menu">
                        <i data-feather="cpu">
                        </i>
                        助理GPT (Assistant GPT)
                    </a>
                    <nav class="nav nav-sub">
                        <a href="/AssistantGPT/AssistantChat" class="nav-sub-link" id="chat-assistant-nav">
                            对话 （Chat by 助理GPT）
                        </a>
                        <a href="/AssistantGPT/AssistantSetting" class="nav-sub-link" id="setting-assistant-nav">
                            助理配置 (Setting)
                        </a>
                    </nav>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link with-sub" id="product-main-menu">
                        <i data-feather="package">
                        </i>
                        产品中心 (Product)
                    </a>
                    <nav class="nav nav-sub">
                        <a href="/Product/ChatGrid" class="nav-sub-link" id="chatgrid-product-nav">
                            图表绘制（ChatGrid）
                        </a>
                        <a href="/Product/AiMarketing" class="nav-sub-link" id="aimarketing-product-nav">
                            营销号助手（AiMarketing）
                        </a>
                        <a href="/Product/AiDoc" class="nav-sub-link" id="aidoc-product-nav">
                            无边记（AiDoc）
                        </a>
                    </nav>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link with-sub" id="pay-main-menu">
                        <b style="color:deepskyblue">
                            <i data-feather="dollar-sign">
                            </i>
                            充值中心 (Recharge)
                        </b>
                    </a>
                    <nav class="nav nav-sub">
                        <a href="/Pay/Balance" class="nav-sub-link" id="balance-pay-nav">
                            余额充值（Recharge）
                        </a>
                        <a href="/Pay/VIP" class="nav-sub-link" id="vip-pay-nav">
                            会员开通（VIP）
                        </a>
                        <a href="/Pay/Mall" class="nav-sub-link" id="mall-pay-nav">
                            商城（Mall）
                        </a>
                    </nav>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link with-sub" id="usercenter-main-menu">
                        <i data-feather="user">
                        </i>
                        个人中心 (Personal)
                    </a>
                    <nav class="nav nav-sub">
                        <a href="/Users/UserInfo" class="nav-sub-link" id="user_usercenter_nav">
                            我的（My Profile）
                        </a>
                        <a href="/Users/Statistics" class="nav-sub-link" id="statistics_usercenter_nav">
                            统计 (Statistics)
                        </a>
                        <a href="/Users/Gallery" class="nav-sub-link" id="gallery_usercenter_nav">
                            图库（Gallery）
                        </a>
                        <a href="/Users/Share" class="nav-sub-link" id="user_share_nav">
                            分享共盈（Share）
                        </a>
                    </nav>
                </li>

            </ul>
            <hr class="mg-t-30 mg-b-25">
            <ul class="nav nav-sidebar" id="custommenu">
                <li class="nav-item">
                    <a href="#" class="nav-link" style="color:purple" onclick="clearCacheAndReload()">
                        <i data-feather="refresh-cw">
                        </i>
                        清除缓存刷新 (Refurbish)
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" style="color:red" onclick="shutDown()">
                        <i data-feather="alert-octagon">
                        </i>
                        退出登录 (Shut Down)
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" onclick="price()" class="nav-link">
                        <i data-feather="help-circle">
                        </i>
                        计费说明 (Price)
                    </a>
                </li>
                @*<li class="nav-item">
                <a href="index.html" class="nav-link">
                <i data-feather="help-circle">
                </i>
                文档 (Document)
                </a>
                </li>
                <li class="nav-item">
                <a href="themes.html" class="nav-link">
                <i data-feather="github">
                </i>
                GitHub
                </a>
                </li>
                <li class="nav-item">
                <a href="themes.html" class="nav-link">
                <i data-feather="edit">
                </i>
                意见&反馈 (Feedback)
                </a>
                </li>*@
            </ul>
        </div>
    </div>
    <div class="robot-container" style="display:none">
        <div class="robot">
            <div class="robot__head">
                <div class="robot__head__ears"></div>
                <div class="robot__head__mask"></div>
                <div class="robot__head__eye--right"></div>
                <div class="robot__head__eye--left"></div>
                <div class="robot__head__mouth"></div>
            </div>
            <div class="robot__body">
                <div class="robot__body__hand--right"></div>
                <div class="robot__body__hand--left"></div>
            </div>
            <div class="robot__shadow"></div>
        </div>
        <div class="speech-bubble">我是AIBot,可以拖动我哦😘<br />双击我，可以跟我交流😉<br />在设置中可以关闭我🥺</div>
        <div class="speech-bubble-left">加载系统通知中...</div>
    </div>
    <div class="bot-chat-window">
        <div class="bot-chat-header">
            AIBot用户引导助手
            <span class="bot-close-btn">&times;</span>
        </div>
        <div class="bot-chat-body">
            <div class="bot-message">Hi~有什么我可以帮助你的？关于AIBot的问题，你可以随时问我😉</div>
        </div>
        <input type="text" id="botQ" class="bot-chat-input" placeholder="输入提问，回车发送">
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <script src="~/system/js/signalr.min.js"></script>
    <script src="~/system/js/robot.js"></script>
    <script src="~/system/js/marked.min.js"></script>
    <link href="~/system/css/atom-one-dark.min.css" rel="stylesheet" />
    <script src="~/system/js/highlight.min.js"></script>
</body>
</html>
