@{
    ViewData["Title"] = "对话（Chat）";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    if (!localStorage.getItem('aibotpro_userToken')) {
        window.location.href = "@Url.Action("Welcome", "Home")";
    }
</script>
<link href="~/system/css/chat.css?v3.7.3" rel="stylesheet"/>
<link href="~/system/css/aicanver.css?v1.0.0" rel="stylesheet" />
<link rel="stylesheet" href="~/system/js/markdownitplugin/katex.min.css">
<script src="~/system/js/markdownitplugin/katex.min.js"></script>
<script src="~/system/js/markdownitplugin/texmath.min.js"></script>
<script src="https://unpkg.com/markdown-it-link-attributes@3.0.0/dist/markdown-it-link-attributes.min.js"></script>
<script src="~/system/js/markdown-it.min.js"></script>
@* <script src="~/system/js/tex-chtml.js"></script> *@
<script src="~/system/js/mermaid.min.js"></script>
<link href="~/static/css/animate-4.1.1-mini.css" rel="stylesheet" />
<script src="~/static/js/popper.min.js"></script>
<script src="~/static/js/moment.min.js"></script>
<script>
    var md = window.markdownit()
        .use(texmath, {
            engine: katex,
            delimiters: ['dollars', 'brackets'],
            katexOptions: {
                macros: {// 基本运算符
                    '\\defeq': ':=',
                    '\\bm': '\\boldsymbol',

                    // 集合论
                    '\\set': '\\left\\{ #1 \\right\\}', // \set{x}
                    '\\N': '\\mathbb{N}',
                    '\\Z': '\\mathbb{Z}',
                    '\\Q': '\\mathbb{Q}',
                    '\\R': '\\mathbb{R}',
                    '\\C': '\\mathbb{C}',

                    // 线性代数
                    '\\mat': '\\begin{matrix} #1 \\end{matrix}', // \mat{...}
                    '\\vec': '\\mathbf{#1}', // \vec{v}
                    '\\det': '\\operatorname{det}',
                    '\\tr': '\\operatorname{tr}',

                    // 微积分
                    '\\d': '\\mathrm{d}',
                    '\\diff': '\\frac{\\d}{\\d #1}', // \diff{x}
                    '\\pd': '\\frac{\\partial}{\\partial #1}', // \pd{x}

                    // 概率论
                    '\\P': '\\operatorname{P}',
                    '\\E': '\\operatorname{E}',
                    '\\Var': '\\operatorname{Var}',
                    '\\Cov': '\\operatorname{Cov}',

                    // 函数和极限
                    '\\lim': '\\operatorname{lim}',
                    '\\sup': '\\operatorname{sup}',
                    '\\inf': '\\operatorname{inf}',
                    '\\max': '\\operatorname{max}',
                    '\\min': '\\operatorname{min}',

                    // 三角函数
                    '\\sin': '\\operatorname{sin}',
                    '\\cos': '\\operatorname{cos}',
                    '\\tan': '\\operatorname{tan}',
                    '\\csc': '\\operatorname{csc}',
                    '\\sec': '\\operatorname{sec}',
                    '\\cot': '\\operatorname{cot}',

                    // 双曲函数
                    '\\sinh': '\\operatorname{sinh}',
                    '\\cosh': '\\operatorname{cosh}',
                    '\\tanh': '\\operatorname{tanh}',

                    // 对数函数
                    '\\log': '\\operatorname{log}',
                    '\\ln': '\\operatorname{ln}',
                    '\\lg': '\\operatorname{lg}',

                    // 特殊函数
                    '\\exp': '\\operatorname{exp}',
                    '\\sgn': '\\operatorname{sgn}',

                    // 复分析
                    '\\Re': '\\operatorname{Re}',
                    '\\Im': '\\operatorname{Im}',
                    '\\arg': '\\operatorname{arg}',

                    // 向量分析
                    '\\grad': '\\operatorname{grad}',
                    '\\div': '\\operatorname{div}',
                    '\\rot': '\\operatorname{rot}',
                    '\\curl': '\\operatorname{curl}',

                    // 常用箭头
                    '\\ra': '\\rightarrow',
                    '\\Ra': '\\Rightarrow',
                    '\\la': '\\leftarrow',
                    '\\La': '\\Leftarrow',
                    '\\lra': '\\leftrightarrow',
                    '\\Lra': '\\Leftrightarrow',

                    // 其他常用符号
                    '\\eps': '\\varepsilon',
                    '\\phi': '\\varphi',
                    '\\ell': '\\ell',

                    // 矩阵简写
                    '\\pmatrix': '\\begin{pmatrix} #1 \\end{pmatrix}',
                    '\\bmatrix': '\\begin{bmatrix} #1 \\end{bmatrix}',
                    '\\vmatrix': '\\begin{vmatrix} #1 \\end{vmatrix}',

                    // 定界符
                    '\\abs': '\\left|#1\\right|',
                    '\\norm': '\\left\\|#1\\right\\|',
                    '\\ceil': '\\left\\lceil#1\\right\\rceil',
                    '\\floor': '\\left\\lfloor#1\\right\\rfloor',

                    // 求和、积分等
                    '\\sum': '\\sum\\limits',
                    '\\prod': '\\prod\\limits',
                    '\\lim': '\\lim\\limits',

                    // 自定义环境
                    '\\cases': '\\begin{cases} #1 \\end{cases}',
                    '\\align': '\\begin{align} #1 \\end{align}',
                },
                throwOnError: false, // 防止渲染错误导致整个公式失败
                errorColor: '#cc0000', // 错误时显示红色
                strict: false // 不要太严格的语法检查
            }
        }).use(markdownitLinkAttributes, {
            attrs: {
                target: '_blank',
                rel: 'noopener'
            }
        });
</script>
<div class="header header-chat">
    <div class="header-left">
        <a id="menuMain" href="" class="burger-menu">
            <i data-feather="menu">
            </i>
        </a>
        <a id="menuBack" href="" class="burger-menu d-none">
            <i data-feather="arrow-left">
            </i>
        </a>
        @* <div class="dropdown"> *@
        @*     <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="bell"></i> 系统通知有惊喜</button> *@
        @*     <div class="dropdown-menu tx-14" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);"> *@
        @*         <div class="wd-300 pd-15" id="notice-box"> *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@
        <button type="button" class="btn btn-danger" style="margin-left:10px;" onclick="deleteChatAll()">
            <i data-feather="trash-2"></i> 清空历史
        </button>
        &nbsp;
        <div class="dropdown" style="text-align:center;width:auto;float:left;display:none;" id="onfilelist">
            <a href="#" class="btn btn-info" id="fileDropdown" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
                <span>已选用文件</span>
                <i data-feather="chevron-down" style="width:20px;"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-onfile" aria-labelledby="chatDropdown"
                 style="max-height: 505px;width:300px;overflow-y:scroll;">
                <ul class="list-group" id="onfilesitem">
                    @* <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                    <input type="checkbox">
                    Item 1
                    </div>
                    <div>
                    <i class="icon ion-close"></i>
                    </div>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                    <input type="checkbox">
                    Item 2
                    </div>
                    <div>
                    <i class="icon ion-close"></i>
                    </div>
                    </li> *@

                    <!-- 可添加更多列表项 -->
                </ul>
            </div>
        </div>
        &nbsp;
        <button type="button" class="btn btn-warning clearRole" style="display:none;color:white"
                onclick="window.location.href='/Home/Index'">
            <i data-feather="x"></i> 清除角色
        </button>
        <div class="bell-container position-relative">
            <a href="javascript:void(0)" class="bell">
                <i data-feather="bell"></i>
                <span class="notification-dot">
                    <span class="notification-count"></span>
                </span>
            </a>
            <div class="dropdown-container">
                <a href="javascript:void(0)" class="gift text-warning" onclick="toggleSignInDropdown()">
                    <i data-feather="gift"></i>
                </a>

                <!-- 下拉式签到框 -->
                <div class="signin-dropdown" id="signInDropdown">
                    <div class="dropdown-content">
                        <span class="text-warning">
                            <b>会员专属签到：随机获得0.5~1余额</b>
                        </span>
                        <div class="calendar">
                            <div class="calendar-header"></div>
                            <div class="calendar-body" id="calendarBody"></div>
                            <button class="btn btn-success btn-sm btn-block signInBtn" onclick="signIn()">
                                <i data-feather="check-circle"></i> 专属签到
                            </button>
                            <div class="calendar-overlay">
                                <a class="btn btn-warning upgrade-btn" href="/Pay/VIP">充值会员开启签到</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="notification-dropdown">
                <h6 class="dropdown-header">
                    系统通知<span class="close-btn-bell" style="cursor: pointer;
                        font-weight: bold;
                        margin-left: 10px;
                        color: #333;
                        font-size: 18px;
                        float:right;" onclick="closeDropdown()">&times;</span>
                </h6>
                <div class="notification-list"></div>
            </div>
        </div>
    </div>
    <div class="header-right">
        <a href="javascript:void(0)" onclick="darkModel()" class="dkmodel">
            <i data-feather="moon"></i>
        </a>
    </div>
</div>
<div class="content-body content-body-chat">
    <div class="chat-panel">
        <div class="chat-sidebar">
            <div class="chat-sidebar-header">
                <h6 class="tx-14 tx-color-01 mg-b-0">
                    hi~ <i data-feather="smile"></i>
                </h6>
                <div>
                    @* <a href="" data-toggle="tooltip" title="New Conversation">
                    <i data-feather="user-plus">
                    </i>
                    </a> *@
                    <button type="button" class="aicoder btn-aicanver" onclick="createCanver('markdown')">
                        <i class="fas fa-code"></i> Coder
                    </button>
                    <button type="button" class="btn btn-info btn-newchat" onclick="newChat()">
                        <i data-feather="plus"></i> 新建会话
                    </button>
                </div>
            </div>
            <div class="chat-sidebar-body">
                <div id="chatlistBox">
                    <div class="header-search">
                        <i data-feather="search">
                        </i>
                        <input type="search" class="form-control" placeholder="输入对话记录关键词，回车搜索"
                               id="searchKey">
                    </div>
                    <ul class="chat-list no-select">
                    </ul>
                </div>
                <div id="aicanverChatBox" style="display: none">
                    <div class="aicanver-chat-container">
                        <div class="aicanver-message aicanver-ai-message">
                            <div id="aicanverTip">
                                <i data-feather="info"></i> 您可以在这里针对右侧代码提出问题，我将为您进行针对性修改👉
                                <br />
                                如果您没有现存的代码或文本文件，您依旧可以对我直接提问，我将为您将代码显示在右侧编辑器👉
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="chat-sidebar-footer">
                @* <button type="button" class="btn btn-primary" style="width:100%" id="loadMoreBtn" onclick="loadMoreHistory()"><i data-feather="loader" style="width:20px;"></i> 加载更多</button> *@
                <div class="avatar avatar-sm avatar-online">
                    <img src="/static/picture/fff.png" id="HeadImg" class="rounded-circle" alt="">
                </div>
                <h6 class="chat-loggeduser">
                    <i class="fas fa-coins"></i>
                    <b id="Mcoin">
                        --
                    </b>
                </h6>
                <div>
                    @* <a href="" data-toggle="tooltip" title="Enable Mic"> *@
                    @*     <i data-feather="mic"> *@
                    @*     </i> *@
                    @* </a> *@
                    <a href="/Users/UserInfo" data-toggle="tooltip" title="个人中心">
                        <i data-feather="user">
                        </i>
                    </a>
                </div>
            </div>
        </div>
        <div class="chat-body">
            <div class="chat-body-header">
                <div class="avatar avatar-xs">
                    <span class="avatar-initial rounded-circle bg-dark" data-toggle="tooltip" onclick="hideHistoary()"
                          style="cursor:pointer">
                        <i data-feather="chevron-left" id="hidehis" style="width:15px;cursor:pointer"></i>
                    </span>
                </div>
                <div class="dropdown" style="text-align:center;width:auto;float:left" data-toggle="tooltip">
                    <a href="#" class="tx-14 tx-color-01 mg-b-0 mg-l-10" id="chatDropdown" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <span id="firstModel">---</span>
                        <i data-feather="chevron-down" style="width:20px;"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="chatDropdown"
                         style="max-height: 505px;overflow-y:scroll;overflow-x:hidden;" id="AIModel">
                        <div id="searchIcon" style="cursor:pointer;margin:5px;color:gray;">
                            <i data-feather="search" style="width: 20px;"></i>
                            <span>点击搜索,下方拖动排序</span>
                        </div>
                        <input type="text" id="modelSearch" class="form-control searchModel" placeholder="搜索模型..."
                               onkeyup="filterModels()" style="display:none;">
                        <div id="modelList"></div>
                    </div>
                </div>
                &nbsp;&nbsp;
                <a href="#" data-toggle="tooltip" title="新建会话" onclick="newChat()">
                    <i data-feather="plus">
                    </i>
                </a>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#settingsModal">
                    <i data-feather="settings" class="chat-settings"></i> 设置
                </button>
                <button type="button" class="btn btn-sm btn-outline-magic mg-l-2 previewCode" style="display: none"
                        onclick="previewCode()">
                    <i data-feather="play"></i> 预览
                </button>
                <button type="button" class="btn btn-sm btn-outline-magic mg-l-2 newWindow" style="display: none"
                        onclick="newWindow()">
                    <i data-feather="external-link"></i> 新建窗口显示
                </button>
                <button type="button" class="btn btn-sm btn-outline-magic mg-l-2 selectDOM" style="display: none">
                    <i data-feather="mouse-pointer"></i> 选择
                </button>

                <a href="javascript:void(0)" onclick="darkModel()" class="dkmodel" id="dkbtn">
                    <i data-feather="moon"></i>
                </a>
                @* <div class="chat-body-options">
                <a href="" data-toggle="tooltip" title="Search messages">
                <i data-feather="search">
                </i>
                </a>
                <a href="" data-toggle="tooltip" title="Call">
                <i data-feather="phone">
                </i>
                </a>
                <a href="" data-toggle="tooltip" title="Video Call">
                <i data-feather="video">
                <i data-feather="video">
                </i>
                </a>
                <a href="" data-toggle="tooltip" title="Info">
                <i data-feather="info">
                </i>
                </a>
                </div> *@
            </div>

            @* <li class="divider-text">
            加载中...
            </li> *@
            <div class="chat-body-content">
                @* <div class="chat-message">
                <div class="avatar">U</div>
                <div style="width:100%">
                <pre style="display:inline">Hello!Hello!Hello!Hello!Hello!Hello!Hello!</pre>
                </div>
                </div>
                <div class="chat-message">
                <div class="avatar gpt-avatar">A</div>
                <div style="width:100%">
                <pre style="display:inline">Hello, how can I help you?</pre>
                <svg width="30" height="30" style="display:inline">
                <circle cx="15" cy="15" r="7.5" fill="black" class="blinking-dot" />
                </svg>
                </div>
                </div> *@
                <div id="previewBox" class="preview-box"></div>
                <div class="chat-body-main">
                    <div class="model-icons-container">
                        <h3 class="model-icons-title">
                            <span class="gradient-text">模型标签说明</span>
                        </h3>
                        <div class="model-icons-wrapper">
                            <div class="model-icon">
                                <span class="model-emoji">🆓</span>
                                <span class="label">免费</span>
                            </div>
                            <div class="model-icon">
                                <span class="model-emoji">✨</span>
                                <span class="label">VIP特惠</span>
                            </div>
                            <div class="model-icon">
                                <span class="model-emoji">👑</span>
                                <span class="label">SVIP特惠</span>
                            </div>
                            <div class="model-icon">
                                <span class="model-emoji">🖼️</span>
                                <span class="label">可AI识图</span>
                            </div>
                            <div class="model-icon">
                                <span class="model-emoji">⚠️</span>
                                <span class="label">稳定性较差</span>
                            </div>
                            <div class="model-icon">
                                <span class="model-emoji">🚀</span>
                                <span class="label">高质量直连</span>
                            </div>
                        </div>
                    </div>
                    @* <div class="history-list-info">
                    <span class="model-emoji">👈</span>
                    <p>左侧的模型列表,支持鼠标右键</p>
                    <p>或在移动端长按,查看更多操作菜单</p>
                    </div>
                    <div class="change-model">
                    <span class="model-emoji">👆</span>
                    <p>上方下拉框切换模型</p>
                    <p>可拖动排序</p>
                    </div> *@
                </div>
                <div id="editor-container" style="width: 100%; height: 98%;display:none">
                </div>
                <div class="toolbar">
                    <div id="priceInfo" style="margin-bottom:5px;display:inline;">
                    </div>
                    <span class="badge badge-pill badge-secondary systemtools t-globe" onclick="changeGlobe()">
                        <i data-feather="globe"></i> 联网关闭
                    </span>
                </div>
            </div>
            @*<div style="position:absolute;bottom:10%;margin-left:10px;">
            <input type="text" class="form-control" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput">
            </div>*@
            <div class="chat-body-footer">
                <div class="chat-body-options">
                    <a href="#" data-toggle="tooltip" title="🖼️ 图片上传" onclick="showCameraMenu()" id="openCamera">
                        <i data-feather="camera">
                        </i>
                        <span class="image-upload-count" id="imageCount">0</span>
                    </a>
                    <a href="#" data-toggle="tooltip" title="📎文件上传" onclick="showUploadFileMenu()"
                       style="position: relative;">
                        <i data-feather="paperclip">
                        </i>
                        <span class="file-upload-count" id="fileCount">0</span>
                    </a>
                </div>
                <div class="form-group" style="position: relative;padding: 15px">
                    <i data-feather="maximize-2" class="maximize-2"
                       style="width:15px;right:0;cursor:pointer;position: absolute;" onclick="max_textarea_Q()"></i>
                    <textarea type="text" class="form-control"
                              placeholder="输入问题，Enter发送，Ctrl+Enter或Shift+Enter换行，首字符输入 / 打开提词本 @@ 选择角色"
                              id="Q" style="max-height:200px;"></textarea>
                </div>
                <button class="btn btn-icon" id="sendBtn">
                    <i data-feather="send"></i>
                </button>
            </div>
            @* <button type="button" class="btn btn-danger" style="width:120px" id="stopBtn" onclick="stopGenerate()"><i data-feather="stop-circle"></i> 停止生成</button> *@
        </div>
    </div>
</div>

<script>
    //document.addEventListener('DOMContentLoaded', function () {
    var pureCheckbox = document.querySelector('.pure');
    pure = false;

    // 检查localStorage中的缓存
    var cache_pure = localStorage.getItem('pure');
    if (cache_pure) {
        var cachedData = JSON.parse(cache_pure);
        pure = cachedData.value;
    }

    // 立即应用正确的样式
    updatePureMode(pure, true);

    // 设置复选框状态
    pureCheckbox.checked = pure;


    function updatePureMode(isPure, reload = false) {
        var body = $('body');
        var sidebar = document.querySelector('.sidebar');
        var header = document.querySelector('.header');
        var content = document.querySelector('.content');
        var contentBody = document.querySelector('.content-body');
        var chatBodyContent = document.querySelector('.chat-body-content');

        if (isPure) {
            header.style.display = 'none';
            $('#dkbtn').show();
            if (!isMobile()) {
                body.addClass('pure-mode');
                sidebar.style.display = 'none';
                content.style.padding = '0';
                content.style.margin = '0';
                chatBodyContent.style.padding = '10px 15% 10px 15%';
                if (body.hasClass('sidebar-open')) {
                    // 当前是展开状态，需要缩回
                    body.removeClass('sidebar-open');
                    body.addClass('sidebar-closed');
                }
            } else
                contentBody.style.height = 'calc(100vh)';

        } else {
            dkbtn.style.display = 'none';
            header.style.display = '';
            if (!isMobile()) {
                body.removeClass('pure-mode');
                sidebar.style.display = '';
                contentBody.style.height = 'calc(100vh-140px)';
                content.style.marginLeft = '240px';
                chatBodyContent.style.padding = '10px';
                if (body.hasClass('sidebar-open') && reload) {
                    // 当前是展开状态，需要缩回
                    body.removeClass('sidebar-open');
                    body.addClass('sidebar-closed');
                } else {
                    // 当前是缩回状态，需要展开
                    body.removeClass('sidebar-closed');
                    body.addClass('sidebar-open');
                }
            } else {
                contentBody.style.height = 'calc(100vh - 60px)';
            }
        }
        feather.replace();
    }

    //});
</script>
<script src="~/system/js/signalr.min.js"></script>
<script src="~/system/js/marked.min.js"></script>
<link href="~/system/css/atom-one-dark.min.css?v1" rel="stylesheet" />
<script src="~/system/js/highlight.min.js"></script>
<script src="~/system/js/dart.js"></script>
<script src="~/system/js/vueheightlight.js"></script>
<script src="~/system/js/rolechat.js?v1.0.1"></script>
<script src="~/system/js/personalsettings.js?v1.0.3"></script>
<script src="~/system/js/chat.js?v20.1.5"></script>
<script src="~/system/js/fileschat.js?v1.0.2"></script>
<script src="~/system/js/aicanver.js?v1.0.3"></script>