@{
    ViewData["Title"] = "Midjourney";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/system/css/midjourney.css?v1.0.0" rel="stylesheet" />
<div class="header">
    <div class="header-left">
        <a id="menuMain" href="" class="burger-menu">
            <i data-feather="menu">
            </i>
        </a>
        <a id="menuBack" href="" class="burger-menu d-none">
            <i data-feather="arrow-left">
            </i>
        </a>
        <button type="button" class="btn btn-primary" onclick="window.location.href='/Users/Gallery'">
            <i data-feather="image"></i> 前往图库
        </button>
        &nbsp;&nbsp;
        <a href="#" class="header-help-link" onclick="MJinfo()">
            <i data-feather="help-circle">
            </i>
        </a>
    </div>
</div>
<div class="content-body" style="margin-top:10px;">
    <div class="content-header">
        <div>
            @* <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item" style="cursor:unset"><a href="#">AIBot-Pro</a></li>
            <li class="breadcrumb-item"><a href="#">AI</a></li>
            <li class="breadcrumb-item active" aria-current="page">Midjourney</li>
            </ol>
            </nav> *@
            <h4 class="content-title content-title-sm">
                <b style="background-image: linear-gradient(to right, rgb(255,103,43), rgb(223,15,105));
    -webkit-background-clip: text;
    color: transparent;">Midjourney</b>
            </h4>
        </div>
    </div>
    <div id="STEP">
        <div class="card">
            <div class="card-header">
                <h5>模式选择</h5>
            </div>
            <div class="card-body">
                <!-- 添加模式选择按钮组 -->
                <div class="btn-group mb-4" role="group" aria-label="Mode selection">
                    <button type="button" class="btn btn-outline-primary active" data-target="imagine">提示生成</button>
                    <button type="button" class="btn btn-outline-primary" data-target="blend">图片混合</button>
                    <button type="button" class="btn btn-outline-primary" data-target="swap">换脸</button>
                </div>

                <div class="container mt-5 mode-content" id="imagine">
                    <h4>参考图上传(选填)</h4>
                    <h6 id="section1" class="tx-danger">注意这里不是PS，参考图只参考图片的风格</h6>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="fileInput">
                            <label class="custom-file-label" for="fileInput">选择文件</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="uploadBtn">上传</button>
                            <button class="btn btn-outline-secondary" type="button" id="clearBtn">清除</button>
                        </div>
                    </div>
                    <div class="progress ht-20">
                        <div id="p1" class="progress-bar wd-25p" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                    </div>
                </div>
                <div class="container mt-5 mode-content" id="blend" style="display: none;">
                    <h4>图片混合</h4>
                    <h6 id="section1" class="tx-danger">
                        请上传2-4张图片进行混合。点击 + 图标添加图片。
                    </h6>
                    <div>
                        <select class="form-control" id="dimensions">
                            <option value="SQUARE">正方形（1:1）</option>
                            <option value="PORTRAIT">肖像（2:3）</option>
                            <option value="LANDSCAPE">风景（1:1）</option>
                        </select>
                    </div>
                    <br />
                    <div id="blendImagePreview" class="d-flex flex-wrap mb-3">
                        <div id="addImageBtn" class="image-upload-box">
                            <input type="file" id="blendFileInput" accept="image/*" style="display: none;">
                            <label for="blendFileInput" class="h-100 w-100 d-flex justify-content-center align-items-center">
                                <span style="font-size: 40px;">+</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="container mt-5 mode-content" id="swap" style="display: none;">
                    <h4>AI换脸</h4>
                    <p>说明:</p>
                    <ol>
                        <li>图片都必须包含脸,否则出不来图</li>
                        <li>"明星图"可以先用肖像画制作出来</li>
                        <li>"明星图"其实动漫图也行</li>
                        <li>"你的头像"建议用一寸人照</li>
                    </ol>

                    <div class="d-flex justify-content-center align-items-center mt-4">
                        <div class="image-upload-box mr-3">
                            <input type="file" id="yourFaceInput" accept="image/*" style="display: none;">
                            <label for="yourFaceInput" class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
                                <span style="font-size: 40px;">+</span>
                                <span>你的头像</span>
                            </label>
                        </div>

                        <div class="mx-3">+</div>

                        <div class="image-upload-box ml-3">
                            <input type="file" id="starFaceInput" accept="image/*" style="display: none;">
                            <label for="starFaceInput" class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
                                <span style="font-size: 40px;">+</span>
                                <span>明星图</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
        <div class="card" id="pm">
            <div class="card-header">
                <h5>输入提示词</h5>
                <button class="btn btn-outline-success greatePrompt" onclick="sendMsg()"><img src="~/system/images/magic_stick.png" style="width:20px;" />优化提示词</button>
                <button class="btn btn-outline-info englishPrompt" onclick="englishPrompt()"><img src="~/system/images/translated.png" style="width:20px;" />转英语提示词</button>
            </div>
            <div class="card-body">
                <div class="textarea-container">
                    <textarea class="form-control" rows="10" maxlength="3000" placeholder="请描述画面中的内容，描述的方式，顺序，措辞等都会对画面产生不同的影响效果" id="inputText"></textarea>
                    <div class="char-count">
                        <span id="charCount">0</span>/<span class="char-limit">3000</span>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
        <div class="card">
            <div class="card-header">
                <h5>选择模型Bot</h5>
            </div>
            <div class="card-body">
                <div class="component-section no-code">
                    <h6 id="section1" class="tx-semibold">请选择用于绘画的bot类型</h6>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="MJ-tab" data-toggle="tab" href="#MJ" role="tab" aria-controls="MJ" aria-selected="true">Mid-Journey</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="NIJI-tab" data-toggle="tab" href="#NIJI" role="tab" aria-controls="NIJI" aria-selected="false">Niji-Journey</a>
                        </li>
                    </ul>
                    <div class="tab-content bd bd-t-0 pd-20" id="myTabContent">
                        <div class="tab-pane fade active show" id="MJ" role="tabpanel" aria-labelledby="MJ-tab" style="text-align:center;">
                            <h5 class="MJtitle">
                                <b>公认最强的AI绘画</b>
                            </h5>
                            <p class="mg-b-0">
                                <img src="~/system/images/m1.png" style="width:30%;max-width:400px" />
                                <img src="~/system/images/m2.png" style="width:30%;max-width:400px" />
                                <img src="~/system/images/m3.png" style="width:30%;max-width:400px" />
                            </p>
                        </div>
                        <div class="tab-pane fade" id="NIJI" role="tabpanel" aria-labelledby="NIJI-tab" style="text-align:center;">
                            <h5 class="NIJItitle">
                                <b>魔法般的二次元AI绘画生成</b>
                            </h5>
                            <p class="mg-b-0">
                                <img src="~/system/images/n1.png" style="width:30%;max-width:400px" />
                                <img src="~/system/images/n2.png" style="width:30%;max-width:400px" />
                                <img src="~/system/images/n3.png" style="width:30%;max-width:400px" />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
        <div class="card">
            <div class="card-header">
                <h5>选择生成模式</h5>
            </div>
            <div class="card-body">
                <div class="container">
                    <h6 class="tx-danger">请仔细阅读每种模式的特点</h6>
                    <div class="custom-control custom-radio mb-3">
                        <input type="radio" id="relax" name="customRadio" class="custom-control-input" value="relax">
                        <label class="custom-control-label" for="relax"><b class="tx-danger">Relax</b>(生成速度<b class="tx-danger">慢</b>,成功率较<b class="tx-danger">低</b>,价格<b class="tx-success">便宜</b>)</label>
                    </div>
                    <div class="custom-control custom-radio mb-3">
                        <input type="radio" id="fast" name="customRadio" class="custom-control-input" value="fast" checked="checked">
                        <label class="custom-control-label" for="fast"><b class="tx-info">Fast</b>(生成速度<b class="tx-info">快</b>,成功率<b class="tx-info">高</b>,价格<b class="tx-info">适中</b>)</label>
                    </div>
                    <div class="custom-control custom-radio mb-3">
                        <input type="radio" id="turbo" name="customRadio" value="turbo" class="custom-control-input">
                        <label class="custom-control-label" for="turbo"><b class="tx-success">Turbo</b>(生成速度<b class="tx-success">极快</b>,成功率<b class="tx-success">极高</b>,价格<b class="tx-danger">较贵</b>)</label>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
        <div class="card">
            <div class="card-header">
                <h5>创建任务</h5>
            </div>
            <div class="card-body">
                <div>
                    <h4>免费使用Midjourney</h4>
                    <ul>
                        <li>勾选同意条款后,您可以在余额大于0时免费使用Midjourney绘画的所有功能。</li>
                        <li>免费生成的图片版权归本站所有。本站有权在不泄露用户隐私的前提下,无需通知即可在任何地方使用这些图片。</li>
                        <li>免费生成的图片默认会保持于左侧菜单的【画廊】中，脱敏后公示，所有用户可以任意下载。</li>
                        <li>对于免费生成的图片,您只拥有使用权。本站授权您下载并用于个人用途,但不得用于商业目的,包括但不限于自媒体和企业宣传以及二次创作等。</li>
                        <li>如需将免费生成的图片用于商业或生产活动,您可以联系管理员进行版权回购。具体详情请咨询管理员。</li>
                        <li>在未获得本站授权情况下,用于商业生产活动的免费图片,本站有权勒令下架或赔偿。</li>
                        <li>本站保留随时修改或终止服务的权利，恕不另行通知。</li>
                        <li>免费生成频率限制在3次/10min,含失败，不含放大。</li>
                    </ul>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="agreeTerms">
                        <label class="form-check-label" for="agreeTerms">我已阅读并同意上述条款并开启免费使用</label>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-success createTask" id="createTaskBtn"><i data-feather="feather"></i>点击创建绘画任务</button>
                    <button type="button" class="btn btn-danger cancelTask" id="cancelTaskBtn" style="display:none" onclick="cancelMJtask()"><i data-feather="stop-circle"></i>终止绘画任务</button>
                </div>
                <p></p>
                <div class="progress mb-3">
                    <div id="p2" class="progress-bar bg-success" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                </div>
                <div class="log-container mb-3">
                    <span style="cursor:pointer" id="TaskLogTitle">
                        <b>任务日志</b> <i data-feather="chevron-right"></i>
                    </span> <button class="btn btn-warning" onclick="$('#log').val('')">清空日志</button>
                    <textarea id="log" class="form-control" readonly="readonly"></textarea>
                </div>
            </div>
        </div>
        <p></p>

    </div>
</div>
<link rel="stylesheet" href="/system/css/magnific-popup.min.css">
<script src="~/system/js/signalr.min.js"></script>
<script src="~/system/js/jquery.magnific-popup.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fabric@6.3.0/dist/index.min.js"></script>
<script src="~/system/js/midjourney.js?v4.4"></script>
<script src="~/system/js/uploadlogic.js"></script>