@{
    ViewData["Title"] = "对话（Chat by 创意工坊）";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .progress {
        width: 100px; /* 控制进度条长度 */
        margin-bottom: 20px;
    }

    .progressBox {
        margin-left: 20px;
        width: 100px;
    }
</style>
<link href="~/system/css/chat.css?v3.4" rel="stylesheet"/>
<link href="~/system/css/pluginloading.css" rel="stylesheet" />
<link rel="stylesheet" href="~/system/js/markdownitplugin/katex.min.css">
<script src="~/system/js/markdownitplugin/katex.min.js"></script>
<script src="~/system/js/markdownitplugin/texmath.min.js"></script>
<script src="~/system/js/markdown-it.min.js"></script>
<script src="~/system/js/mermaid.min.js"></script>
<script>
    var md = window.markdownit()
        .use(texmath, {
            engine: katex,
            delimiters: ['dollars', 'brackets'],
            katexOptions: {
                macros: {// 基本运算符
                    '\\defeq': ':=',
                    '\\bm': '\\boldsymbol',

                    // 集合论
                    '\\set': '\\left\\{ #1 \\right\\}', // \set{x}
                    '\\N': '\\mathbb{N}',
                    '\\Z': '\\mathbb{Z}',
                    '\\Q': '\\mathbb{Q}',
                    '\\R': '\\mathbb{R}',
                    '\\C': '\\mathbb{C}',

                    // 线性代数
                    '\\mat': '\\begin{matrix} #1 \\end{matrix}', // \mat{...}
                    '\\vec': '\\mathbf{#1}', // \vec{v}
                    '\\det': '\\operatorname{det}',
                    '\\tr': '\\operatorname{tr}',

                    // 微积分
                    '\\d': '\\mathrm{d}',
                    '\\diff': '\\frac{\\d}{\\d #1}', // \diff{x}
                    '\\pd': '\\frac{\\partial}{\\partial #1}', // \pd{x}

                    // 概率论
                    '\\P': '\\operatorname{P}',
                    '\\E': '\\operatorname{E}',
                    '\\Var': '\\operatorname{Var}',
                    '\\Cov': '\\operatorname{Cov}',

                    // 函数和极限
                    '\\lim': '\\operatorname{lim}',
                    '\\sup': '\\operatorname{sup}',
                    '\\inf': '\\operatorname{inf}',
                    '\\max': '\\operatorname{max}',
                    '\\min': '\\operatorname{min}',

                    // 三角函数
                    '\\sin': '\\operatorname{sin}',
                    '\\cos': '\\operatorname{cos}',
                    '\\tan': '\\operatorname{tan}',
                    '\\csc': '\\operatorname{csc}',
                    '\\sec': '\\operatorname{sec}',
                    '\\cot': '\\operatorname{cot}',

                    // 双曲函数
                    '\\sinh': '\\operatorname{sinh}',
                    '\\cosh': '\\operatorname{cosh}',
                    '\\tanh': '\\operatorname{tanh}',

                    // 对数函数
                    '\\log': '\\operatorname{log}',
                    '\\ln': '\\operatorname{ln}',
                    '\\lg': '\\operatorname{lg}',

                    // 特殊函数
                    '\\exp': '\\operatorname{exp}',
                    '\\sgn': '\\operatorname{sgn}',

                    // 复分析
                    '\\Re': '\\operatorname{Re}',
                    '\\Im': '\\operatorname{Im}',
                    '\\arg': '\\operatorname{arg}',

                    // 向量分析
                    '\\grad': '\\operatorname{grad}',
                    '\\div': '\\operatorname{div}',
                    '\\rot': '\\operatorname{rot}',
                    '\\curl': '\\operatorname{curl}',

                    // 常用箭头
                    '\\ra': '\\rightarrow',
                    '\\Ra': '\\Rightarrow',
                    '\\la': '\\leftarrow',
                    '\\La': '\\Leftarrow',
                    '\\lra': '\\leftrightarrow',
                    '\\Lra': '\\Leftrightarrow',

                    // 其他常用符号
                    '\\eps': '\\varepsilon',
                    '\\phi': '\\varphi',
                    '\\ell': '\\ell',

                    // 矩阵简写
                    '\\pmatrix': '\\begin{pmatrix} #1 \\end{pmatrix}',
                    '\\bmatrix': '\\begin{bmatrix} #1 \\end{bmatrix}',
                    '\\vmatrix': '\\begin{vmatrix} #1 \\end{vmatrix}',

                    // 定界符
                    '\\abs': '\\left|#1\\right|',
                    '\\norm': '\\left\\|#1\\right\\|',
                    '\\ceil': '\\left\\lceil#1\\right\\rceil',
                    '\\floor': '\\left\\lfloor#1\\right\\rfloor',

                    // 求和、积分等
                    '\\sum': '\\sum\\limits',
                    '\\prod': '\\prod\\limits',
                    '\\lim': '\\lim\\limits',

                    // 自定义环境
                    '\\cases': '\\begin{cases} #1 \\end{cases}',
                    '\\align': '\\begin{align} #1 \\end{align}',
                },
                throwOnError: false, // 防止渲染错误导致整个公式失败
                errorColor: '#cc0000', // 错误时显示红色
                strict: false // 不要太严格的语法检查
            }
        });
</script>
<div class="header header-chat">
    <div class="header-left">
        <a id="menuMain" href="" class="burger-menu">
            <i data-feather="menu">
            </i>
        </a>
        <a id="menuBack" href="" class="burger-menu d-none">
            <i data-feather="arrow-left">
            </i>
        </a>
        <div class="header-search">
            <i data-feather="search">
            </i>
            <input type="search" class="form-control" placeholder="输入对话记录关键词，回车搜索" id="searchKey">
        </div>
        <button type="button" class="btn btn-danger" style="margin-left:10px;" onclick="deleteChatAll()"><i data-feather="trash-2"></i> 清空历史</button>
        <div class="progressBox">
            <span style="font-size:13px;">剩余免费次数：</span>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="20" style="width:0%">0</div>
            </div>
        </div>
        &nbsp;
        <a href="#" class="header-help-link" onclick="freePlanInfo()">
            <i data-feather="help-circle">
            </i>
        </a>
    </div>
    <div class="header-right">
    </div>
</div>
<div class="content-body content-body-chat">
    <div class="chat-panel">
        <div class="chat-sidebar">
            <div class="chat-sidebar-header">
                <h6 class="tx-14 tx-color-01 mg-b-0">
                    🤯创意工坊
                </h6>
                <div>
                    @* <a href="" data-toggle="tooltip" title="New Conversation">
                    <i data-feather="user-plus">
                    </i>
                    </a> *@
                    <button type="button" class="btn btn-info" onclick="newChat()"><i data-feather="plus"></i> 新建会话</button>
                </div>
            </div>
            <div class="chat-sidebar-body">
                <ul class="chat-list no-select">
                </ul>
            </div>
            <div class="chat-sidebar-footer">
                @* <button type="button" class="btn btn-primary" style="width:100%" id="loadMoreBtn" onclick="loadMoreHistory()"><i data-feather="loader" style="width:20px;"></i> 加载更多</button> *@
                <div class="avatar avatar-sm avatar-online">
                    <img src="/static/picture/fff.png" id="HeadImg" class="rounded-circle" alt="">
                </div>
                <h6 class="chat-loggeduser">
                    <i class="fas fa-coins"></i>
                    <b id="Mcoin">
                        --
                    </b>
                </h6>
                <div>
                    @* <a href="" data-toggle="tooltip" title="Enable Mic"> *@
                    @*     <i data-feather="mic"> *@
                    @*     </i> *@
                    @* </a> *@
                    <a href="/Users/UserInfo" data-toggle="tooltip" title="个人中心">
                        <i data-feather="user">
                        </i>
                    </a>
                </div>
            </div>
        </div>
        <div class="chat-body">
            <div class="chat-body-header">
                <div class="avatar avatar-xs">
                    <span class="avatar-initial rounded-circle bg-dark" data-toggle="tooltip" onclick="hideHistoary()" style="cursor:pointer">
                        <i data-feather="chevron-left" id="hidehis" style="width:15px;cursor:pointer"></i>
                    </span>
                </div>
                <div class="dropdown" style="text-align:center;width:auto;float:left" data-toggle="tooltip">
                    <a href="#" class="tx-14 tx-color-01 mg-b-0 mg-l-10" id="chatDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="firstModel">---</span>
                        <i data-feather="chevron-down" style="width:20px;"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="chatDropdown" style="max-height: 505px;overflow-y:scroll;overflow-x:hidden;" id="AIModel">
                        <div id="searchIcon" style="cursor:pointer;margin:5px;color:gray;">
                            <i data-feather="search" style="width: 20px;"></i>
                            <span>点击搜索,下方拖动排序</span>
                        </div>
                        <input type="text" id="modelSearch" class="form-control searchModel" placeholder="搜索模型..." onkeyup="filterModels()" style="display:none;">
                        <div id="modelList"></div>
                    </div>
                </div>
                &nbsp;&nbsp;
                <a href="#" data-toggle="tooltip" title="新建会话" onclick="newChat()">
                    <i data-feather="plus">
                    </i>
                </a>
            </div>

            @* <li class="divider-text">
            加载中...
            </li> *@
            <div class="chat-body-content">
                @* <div class="chat-message">
                <div class="avatar">U</div>
                <div style="width:100%">
                <pre style="display:inline">Hello!Hello!Hello!Hello!Hello!Hello!Hello!</pre>
                </div>
                </div>
                <div class="chat-message">
                <div class="avatar gpt-avatar">A</div>
                <div style="width:100%">
                <pre style="display:inline">Hello, how can I help you?</pre>
                <svg width="30" height="30" style="display:inline">
                <circle cx="15" cy="15" r="7.5" fill="black" class="blinking-dot" />
                </svg>
                </div>
                </div> *@
                <div class="chat-body-main">
                    <div class="model-icons-container">
                        <h3 class="model-icons-title">
                            <span class="gradient-text">模型标签说明</span>
                        </h3>
                        <div class="model-icons-wrapper">
                            <div class="model-icon">
                                <span class="model-emoji">🆓</span>
                                <span class="label">免费</span>
                            </div>
                            <div class="model-icon">
                                <span class="model-emoji">✨</span>
                                <span class="label">VIP特惠</span>
                            </div>
                            <div class="model-icon">
                                <span class="model-emoji">👑</span>
                                <span class="label">SVIP特惠</span>
                            </div>
                            <div class="model-icon">
                                <span class="model-emoji">🖼️</span>
                                <span class="label">可AI识图</span>
                            </div>
                            <div class="model-icon">
                                <span class="model-emoji">⚠️</span>
                                <span class="label">稳定性较差</span>
                            </div>
                            <div class="model-icon">
                                <span class="model-emoji">🚀</span>
                                <span class="label">高质量直连</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div style="position:absolute;bottom:10%;margin-left:10px;">
            <input type="text" class="form-control" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput">
            </div>*@
            <div class="chat-body-footer">
                <div class="chat-body-options">
                    <a href="#" data-toggle="tooltip" title="🖼️ 图片上传" onclick="showCameraMenu()" id="openCamera">
                        <i data-feather="camera">
                        </i>
                        <span class="image-upload-count" id="imageCount">0</span>
                    </a>
                    @* <a href="" data-toggle="tooltip" title="📎文件上传">
                    <i data-feather="paperclip">
                    </i>
                    </a> *@
                </div>
                <div class="form-group" style="position: relative;padding: 15px">
                    <i data-feather="maximize-2" class="maximize-2" style="width:15px;right:0;cursor:pointer;position: absolute;" onclick="max_textarea_Q()"></i>
                    <textarea type="text" class="form-control" placeholder="输入问题，Enter发送，Ctrl+Enter或Shift+Enter换行，首字符输入 / 打开提词本" id="Q" style="max-height:200px;"></textarea>
                </div>
                <button class="btn btn-icon" id="sendBtn">
                    <i data-feather="send"></i>
                </button>
            </div>
            @* <button type="button" class="btn btn-danger" style="width:120px" id="stopBtn" onclick="stopGenerate()"><i data-feather="stop-circle"></i> 停止生成</button> *@
        </div>
    </div>
</div>
<script src="~/system/js/signalr.min.js"></script>
<script src="~/system/js/workshopchat.js?v12.7.3"></script>
<script src="~/system/js/marked.min.js"></script>
<link href="~/system/css/atom-one-dark.min.css" rel="stylesheet" />
<script src="~/system/js/highlight.min.js"></script>
<script src="~/system/js/dart.js"></script>
<script src="~/system/js/vueheightlight.js"></script>