.imgViewBox {
    width: 100%;
    text-align: center;
    display: none;
}

.chatbtns {
    display: inline;
    color: rgb(135,136,154);
    cursor: pointer;
    width: 15px;
    margin-right: 10px;
}

#Q {
    resize: none;
}

.apply-btn {
    display: none; /* 初始时按钮不显示 */
    position: fixed; /* 固定位置按钮 */
    z-index: 1000; /* 确保按钮显示在其他内容上方 */
}

.copy-btn-select {
    display: none; /* 初始时按钮不显示 */
    position: fixed; /* 固定位置按钮 */
    z-index: 1000; /* 确保按钮显示在其他内容上方 */
}
