.textarea-container {
    position: relative;
}

    .textarea-container textarea {
        resize: none;
    }

.char-count {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    color: #333;
}

.char-limit {
    color: #333;
}

.textarea-container:hover textarea {
    border-color: green;
}

.textarea-container textarea:focus {
    border-color: blue;
}

.imgsize {
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

    .imgsize.size55 {
        width: 80px;
        height: 80px;
        border: 2px solid orangered;
    }

    .imgsize.size75 {
        width: 120px;
        height: 80px;
        border: 1px solid gray;
    }

    .imgsize.size57 {
        width: 80px;
        height: 120px;
        border: 1px solid gray;
    }
