@{
    ViewData["Title"] = "艺术模型管理 (Draw Model)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header">
    <div class="header-left">
        <a id="menuMain" href="" class="burger-menu">
            <i data-feather="menu">
            </i>
        </a>
        <a id="menuBack" href="" class="burger-menu d-none">
            <i data-feather="arrow-left">
            </i>
        </a>
    </div>
</div>
<div class="card-body" style="margin-top:10px;">
    <div class="card">
        <div class="card-header">
            <h6>Midjourney API</h6>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="mj-baseurl">Base URL:</label>
                <input type="text" class="form-control" maxlength="500" id="mj-baseurl"
                       placeholder="自定义请求地址">
            </div>
            <div class="form-group">
                <label for="mj-apikey">API Key:</label>
                <input type="text" class="form-control" maxlength="500" id="mj-apikey"
                       placeholder="自定义API KEY">
            </div>
            <div class="form-group">
                <label for="mj-channel">渠道:</label>
                <select class="form-control w-50" id="mj-channel">
                    <option>OpenAI</option>
                </select>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary savemj" onclick="saveDrawSetting('Midjourney')">
                    <i data-feather="save"></i>保存设置
                </button>
            </div>
        </div>
    </div>
    <p></p>
    <div class="card">
        <div class="card-header">
            <h6>DALL-E3 API</h6>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="dall-baseurl">Base URL:</label>
                <input type="text" class="form-control" maxlength="500" id="dall-baseurl"
                       placeholder="自定义请求地址">
            </div>
            <div class="form-group">
                <label for="dall-apikey">API Key:</label>
                <input type="text" class="form-control" maxlength="500" id="dall-apikey"
                       placeholder="自定义API KEY">
            </div>
            <div class="form-group">
                <label for="dall-channel">渠道:</label>
                <select class="form-control w-50" id="dall-channel">
                    <option>OpenAI</option>
                </select>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary saved3" onclick="saveDrawSetting('DALLE3')">
                    <i data-feather="save"></i>保存设置
                </button>
            </div>
        </div>
    </div>
    <p></p>
    <div class="card">
        <div class="card-header">
            <h6>Stable Diffusion API</h6>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="sd-baseurl">Base URL:</label>
                <input type="text" class="form-control" maxlength="500" id="sd-baseurl"
                       placeholder="自定义请求地址">
            </div>
            <div class="form-group">
                <label for="sd-apikey">API Key:</label>
                <input type="text" class="form-control" maxlength="500" id="sd-apikey"
                       placeholder="自定义API KEY">
            </div>
            <div class="form-group">
                <label for="sd-channel">渠道:</label>
                <select class="form-control w-50" id="sd-channel">
                    <option value="SiliconCloud">SiliconCloud</option>
                    <option value="OpenAI">OpenAI</option>
                    <option value="SD">SD官方直连</option>
                </select>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary savesd" onclick="saveDrawSetting('SD')">
                    <i data-feather="save"></i>保存设置
                </button>
            </div>
        </div>
    </div>
    <p></p>
    <div class="card">
        <div class="card-header">
            <h6>Suno API</h6>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="suno-baseurl">Base URL:</label>
                <input type="text" class="form-control" maxlength="500" id="suno-baseurl"
                       placeholder="自定义请求地址">
            </div>
            <div class="form-group">
                <label for="suno-apikey">API Key:</label>
                <input type="text" class="form-control" maxlength="500" id="suno-apikey"
                       placeholder="自定义API KEY">
            </div>
            <div class="form-group">
                <label for="suno-channel">渠道:</label>
                <select class="form-control w-50" id="suno-channel">
                    <option value="GoAmz">GoAmz</option>
                </select>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary savesuno" onclick="saveDrawSetting('Suno')">
                    <i data-feather="save"></i>保存设置
                </button>
            </div>
        </div>
    </div>
</div>
<script src="~/system/js/openall/aidrawmodelsetting.js"></script>