
@{
    ViewData["Title"] = "系统通知（Send）";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header">
    <div class="header-left">
        <a id="menuMain" href="" class="burger-menu">
            <i data-feather="menu">
            </i>
        </a>
        <a id="menuBack" href="" class="burger-menu d-none">
            <i data-feather="arrow-left">
            </i>
        </a>
    </div>
</div>
<div class="content-body" style="margin-top:10px;">
    <div class="card">
        <div class="card-header">
            <h5>发送系统通知</h5>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="mailcontent">通知内容（支持HTML）：</label>
                <textarea id="content" class="form-control" style="height:200px;"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary send" onclick="send()">发送</button>
            </div>
        </div>
    </div>
</div>
<script src="~/system/js/openall/systemnotice.js"></script>