@{
    ViewData["Title"] = "用户列表（User List）";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header">
    <div class="header-left">
        <a id="menuMain" href="" class="burger-menu">
            <i data-feather="menu">
            </i>
        </a>
        <a id="menuBack" href="" class="burger-menu d-none">
            <i data-feather="arrow-left">
            </i>
        </a>
    </div>
</div>
<div class="content-body" style="margin-top:10px;">
    <div class="card">
        <div class="card-header">
            <h5>手动充值金额</h5>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="nickname">用户账号：</label>
                <input type="text" class="form-control" id="account" style="width:200px;">
            </div>
            <div class="form-group">
                <label for="mcoin">充值金额：</label>
                <input type="number" class="form-control" id="mcoin" style="width:200px;">
            </div>
            <button class="btn btn-primary recharge" onclick="recharge()">充值</button>
        </div>
    </div>
    <p></p>
    <div class="card">
        <div class="card-header">
            <h5>手动充值会员</h5>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="nickname">用户账号：</label>
                <input type="text" class="form-control" id="account-vip" style="width:200px;">
            </div>
            <div class="form-group">
                <label for="money">会员类型：</label>
                <select id="vipType" class="form-control" style="width:200px;">
                    <option value="VIP|15">VIP|15</option>
                    <option value="VIP|90">VIP|90</option>
                </select>
            </div>
            <button class="btn btn-primary rechargevip" onclick="rechargevip()">充值</button>
        </div>
    </div>
    <p></p>
    <div class="card">
        <div class="card-header">
            <h5>手动创建账号</h5>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="nickname">用户账号：</label>
                <input type="text" class="form-control" id="account-add" style="width:200px;">
            </div>
            <div class="form-group">
                <label for="nickname">用户密码：</label>
                <input type="text" class="form-control" id="password" style="width:200px;">
            </div>
            <button class="btn btn-primary createaccount" onclick="createAccount()">创建</button>
        </div>
    </div>
    <p></p>
    <div class="card">
        <div class="card-header">
            <h5>兑换卡生成</h5>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="nickname">创建人账号：</label>
                <input type="text" class="form-control" id="account-card" style="width:200px;">
            </div>
            <div class="form-group">
                <label for="nickname">卡片额度：</label>
                <input type="text" class="form-control" id="card-mcoin" style="width:200px;" value="0">
            </div>
            <div class="form-group">
                <label for="nickname">会员类型：</label>
                <select id="card-viptype" class="form-control" style="width:200px;">
                    <option value="VIP|15">VIP|15</option>
                    <option value="VIP|90">VIP|90</option>
                </select>
            </div>
            <div class="form-group">
                <label for="nickname">会员天数：</label>
                <input type="text" class="form-control" id="vip-days" style="width:200px;" value="0">
            </div>
            <div class="form-group">
                <label for="nickname">数量：</label>
                <input type="number" class="form-control" id="card-count" style="width:200px;">
            </div>
            <button class="btn btn-primary createcards" onclick="createCards()">生成</button>
            <p></p>
            <textarea id="cards" class="form-control" style="height:200px;background-color:antiquewhite;resize: none;" readonly="readonly"></textarea>
        </div>
    </div>
    <p></p>
    <div class="card">
        <div class="card-header">
            <h5>用户列表</h5>
        </div>
        <div class="card-body">
            <div class="header-search mb-4">
                <i data-feather="search"></i>
                <input type="search" class="form-control" placeholder="输入账号，回车搜索" id="name" style="width: 100%;">
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>用户头像</th>
                            <th>用户账号</th>
                            <th>用户昵称</th>
                            <th>用户余额</th>
                            <th>注册时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="usersList">
                        <tr>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" id="previous-page"><a class="page-link" href="#">上一页</a></li>
                        <!-- 页码链接将在这里动态插入 -->
                        <li class="page-item" id="next-page"><a class="page-link" href="#">下一页</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<script src="~/system/js/openall/userslist.js"></script>