@{
    ViewData["Title"] = " 图表绘制（ChatGrid）";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #log {
        width: 100%;
        height: 200px;
        overflow-y: scroll;
        background-color: papayawhip;
    }
</style>
<div class="header">
    <div class="header-left">
        <a id="menuMain" href="" class="burger-menu">
            <i data-feather="menu">
            </i>
        </a>
        <a id="menuBack" href="" class="burger-menu d-none">
            <i data-feather="arrow-left">
            </i>
        </a>
        @* <a href="#" class="header-help-link" onclick="DALLinfo()">
        <i data-feather="help-circle">
        </i>
        </a> *@
    </div>
</div>
<div class="content-body" style="margin-top:10px">
    <div class="content-header">
        <div>
            <h4 class="content-title content-title-sm">
                <b style="background-image: linear-gradient(to right, rgb(255,103,43), rgb(223,15,105));
    -webkit-background-clip: text;
    color: transparent;">图表绘制</b>
            </h4>
            <span>根据描述，生成折线图、柱状图、饼图、热力图、甘特图等统计图📊📈💹</span>
        </div>
    </div>
    <div class="card" id="step1">
        <div class="card-header">
            <h5>第一步：输入绘制要求</h5>
        </div>
        <div class="card-body">
            <div class="form-group">
                <textarea class="form-control" style="height:120px;" id="prompt" placeholder="请输入绘制要求，例：语文及格人数10人，数学及格人数22人，英语及格人数21人，请根据科目和及格人数数据绘制柱状图，图表宽度500，全部使用中文"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btnDraw" id="btnDraw" onclick="sendMsg()">生成</button>
                <br />
                <span class="tx-danger">注意，不一定100%生成成功，如果未生成成功，重试即可</span>
            </div>
        </div>
    </div>
    <p></p>
    <div class="card" id="step2">
        <div class="card-header">
            <h5>生成日志</h5>
        </div>
        <div class="card-body">
            <div id="log">
            </div>
        </div>
    </div>
    <p></p>
    <div class="card" id="step3" style="display:none">
        <div class="card-header">
            <h5>绘制结果</h5>
        </div>
        <div class="card-body" id="gridviewRes">
        </div>
    </div>
    <p></p>
</div>
<script src="~/system/js/signalr.min.js"></script>
<script src="~/system/js/chatgrid.js"></script>
