@{
    ViewData["Title"] = "对话（Chat by 角色扮演）";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    MathJax = {
        tex: { inlineMath: [['$', '$'], ['\\(', '\\)']] }
    };
</script>
<link href="~/system/css/chat.css?v1" rel="stylesheet" />
<script src="~/system/js/markdown-it.min.js"></script>
<script src="~/system/js/tex-chtml.js"></script>
<!-- 相机按钮点击弹窗 -->
<div class="modal fade" id="cameraModel" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- 弹窗头部 -->
            <div class="modal-header">
                <p class="modal-title" id="modalLabel">拍照&上传</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- 弹窗主体内容 -->
            <div class="modal-body" style="display: flex; justify-content: center; align-items: center;">
                <div style="text-align:center; margin-right: 50px;" class="popup-item" data-type="camera">
                    <!-- 添加了外边距来分隔两个图标（可根据实际情况调整）-->
                    <i data-feather="camera" style="width:100%;height:60px;cursor:pointer;"></i>
                    <p>拍照</p>
                </div>

                <div style="text-align:center;" class="popup-item" data-type="upload">
                    <i data-feather="upload" style="width:100%;height:60px;cursor:pointer;"></i>
                    <p>上传</p>
                </div>
                <input type="file" id="uploadImg" accept="image/*" style="display:none" />
            </div>
            <!-- 弹窗底部 -->
            <div class="modal-footer">
                <div class="imgViewBox">
                    <img src="" id="imgPreview" style="width:100%;max-height:500px;overflow:hidden;" />
                    <p></p>
                    <button type="button" class="btn btn-info" onclick="ClearImg()"><i data-feather="x"></i> 清除图片</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="header header-chat">
    <div class="header-left">
        <a id="menuMain" href="" class="burger-menu">
            <i data-feather="menu">
            </i>
        </a>
        <a id="menuBack" href="" class="burger-menu d-none">
            <i data-feather="arrow-left">
            </i>
        </a>
        <div class="header-search">
            <i data-feather="search">
            </i>
            <input type="search" class="form-control" placeholder="输入对话记录关键词，回车搜索" id="searchKey">
        </div>
        <button type="button" class="btn btn-danger" style="margin-left:10px;" onclick="deleteChatAll()"><i data-feather="trash-2"></i> 清空历史</button>
        <button type="button" class="btn btn-warning clearRole" style="margin-left:10px;display:none;color:white" onclick="window.location.href='/Role/RoleChat'"><i data-feather="x"></i> 清除角色</button>
    </div>
    <div class="header-right">
    </div>
</div>
<div class="content-body content-body-chat">
    <div class="chat-panel">
        <div class="chat-sidebar">
            <div class="chat-sidebar-header">
                <h6 class="tx-14 tx-color-01 mg-b-0" id="roleName">
                    千人千面🎭
                </h6>
                <div>
                    @* <a href="" data-toggle="tooltip" title="New Conversation">
                    <i data-feather="user-plus">
                    </i>
                    </a> *@
                    <button type="button" class="btn btn-info" onclick="newChat()"><i data-feather="plus"></i> 新建会话</button>
                </div>
            </div>
            <div class="chat-sidebar-body">
                <ul class="chat-list">
                </ul>
            </div>
            <div class="chat-sidebar-footer">
                <button type="button" class="btn btn-primary" style="width:100%" id="loadMoreBtn" onclick="loadMoreHistory()"><i data-feather="loader" style="width:20px;"></i> 加载更多</button>
                @* <div class="avatar avatar-sm avatar-online">
                <img src="static/picture/fff.png" class="rounded-circle" alt="">
                </div>
                <h6 class="chat-loggeduser">
                Louise Kate
                <span>
                (Me)
                </span>
                </h6>
                <div>
                <a href="" data-toggle="tooltip" title="Enable Mic">
                <i data-feather="mic">
                </i>
                </a>
                <a href="" data-toggle="tooltip" title="Settings">
                <i data-feather="settings">
                </i>
                </a>
                </div> *@
            </div>
        </div>
        <div class="chat-body">
            <div class="chat-body-header">
                <div class="avatar avatar-xs">
                    <span class="avatar-initial rounded-circle bg-dark" data-toggle="tooltip" title="收起">
                        <i data-feather="chevron-left" id="hidehis" style="width:15px;cursor:pointer" onclick="hideHistoary()"></i>
                    </span>
                </div>
                <div class="dropdown" style="text-align:center;width:auto;float:left" data-toggle="tooltip" title="切换模型">
                    <a href="#" class="tx-14 tx-color-01 mg-b-0 mg-l-10" id="chatDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="firstModel">---</span>
                        <i data-feather="chevron-down" style="width:20px;"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="chatDropdown" style="max-height: 505px;overflow-y:scroll" id="AIModel">
                        @*<a class="dropdown-item font-14" href="#" onclick="changeModel('chat','ChatGPT3.5')">ChatGPT3.5</a>
                        <a class="dropdown-item font-14" href="#" onclick="changeModel('chat16K','ChatGPT3.5-16K')">ChatGPT3.5-16K</a> *@
                    </div>
                </div>
                &nbsp;&nbsp;
                <a href="#" data-toggle="tooltip" title="新建会话" onclick="newChat()">
                    <i data-feather="plus">
                    </i>
                </a>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#settingsModal">
                    <i data-feather="settings"></i> 设置
                </button>
                <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="settingsModalLabel">设置</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>温度(temperature)</label><br />
                                    <span style="font-size:12px;color:gray">值越大，回复越随机</span>
                                    <input type="range" class="custom-range" id="slidertemperature" min="0.0" max="1" value="0.5" data-toggle="tooltip" data-placement="top" title="0.5" step="0.1">
                                </div>
                                <div class="form-group">
                                    <label>采样(top_p)</label><br />
                                    <span style="font-size:12px;color:gray">值越大，回复越随机不要和温度一起修改</span>
                                    <input type="range" class="custom-range" id="slidertopp" min="0.0" max="1" value="1" data-toggle="tooltip" data-placement="top" title="1" step="0.1">
                                </div>
                                <div class="form-group">
                                    <label>惩罚(presence_penalty)</label><br />
                                    <span style="font-size:12px;color:gray">值越大，越有可能扩展到新话题</span>
                                    <input type="range" class="custom-range" id="sliderpresence" min="-2" max="2" value="0.5" data-toggle="tooltip" data-placement="top" title="0.5" step="0.1">
                                </div>
                                <div class="form-group">
                                    <label>惩罚频率(frequency_penalty)</label><br />
                                    <span style="font-size:12px;color:gray">值越大，越有可能降低重复字词</span>
                                    <input type="range" class="custom-range" id="sliderfrequency" min="-2" max="2" value="0.5" data-toggle="tooltip" data-placement="top" title="0.5" step="0.1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* <div class="chat-body-options">
                <a href="" data-toggle="tooltip" title="Search messages">
                <i data-feather="search">
                </i>
                </a>
                <a href="" data-toggle="tooltip" title="Call">
                <i data-feather="phone">
                </i>
                </a>
                <a href="" data-toggle="tooltip" title="Video Call">
                <i data-feather="video">
                <i data-feather="video">
                </i>
                </a>
                <a href="" data-toggle="tooltip" title="Info">
                <i data-feather="info">
                </i>
                </a>
                </div> *@
            </div>

            @* <li class="divider-text">
            加载中...
            </li> *@
            <div class="chat-body-content">
                @* <div class="chat-message">
                <div class="avatar">U</div>
                <div style="width:100%">
                <pre style="display:inline">Hello!Hello!Hello!Hello!Hello!Hello!Hello!</pre>
                </div>
                </div>
                <div class="chat-message">
                <div class="avatar gpt-avatar">A</div>
                <div style="width:100%">
                <pre style="display:inline">Hello, how can I help you?</pre>
                <svg width="30" height="30" style="display:inline">
                <circle cx="15" cy="15" r="7.5" fill="black" class="blinking-dot" />
                </svg>
                </div>
                </div> *@
            </div>
            @*<div style="position:absolute;bottom:10%;margin-left:10px;">
            <input type="text" class="form-control" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput">
            </div>*@
            <div class="chat-body-footer">
                <div class="chat-body-options">
                    <a href="#" data-toggle="tooltip" title="🖼️ 图片上传" onclick="showCameraMenu()" id="openCamera">
                        <i data-feather="camera">
                        </i>
                    </a>
                    @* <a href="" data-toggle="tooltip" title="📎文件上传">
                    <i data-feather="paperclip">
                    </i>
                    </a> *@
                </div>
                <div class="form-group">
                    <i data-feather="maximize-2" class="maximize-2" style="width:15px;float:right;cursor:pointer" onclick="max_textarea_Q()"></i>
                    <textarea type="text" class="form-control" placeholder="输入问题，Enter发送，Ctrl+Enter或Shift+Enter换行" id="Q" style="max-height:200px;"></textarea>
                </div>
                <button class="btn btn-icon" data-toggle="tooltip" title="发送" id="sendBtn">
                    <i data-feather="send"></i>
                </button>
            </div>
            @* <button type="button" class="btn btn-danger" style="width:120px" id="stopBtn" onclick="stopGenerate()"><i data-feather="stop-circle"></i> 停止生成</button> *@
        </div>
    </div>
</div>
<script src="~/system/js/signalr.min.js"></script>
<script src="~/system/js/rolechat.js"></script>
<script src="~/system/js/marked.min.js"></script>
<link href="~/system/css/atom-one-dark.min.css" rel="stylesheet" />
<script src="~/system/js/highlight.min.js"></script>